@model IEnumerable<Sang.Models.SangClient>
@{
    ViewBag.Title = "CouponSearch";
    Layout = "~/Views/Shared/_AdminMasterPage.cshtml";
}
<div class="evaluacion">
    <br />
    <h2 style="text-align: center">
        Búsqueda de cupón</h2>
    @using (Html.BeginForm("CouponSearch", "Home", FormMethod.Post))
    {
        <p>
            @Html.TextBox("coupon", null, new { style = "background-color: black; border: 1px solid #2F2F2F; color: white; height:25px; font-size: 16px; text-align: center" })
            <input type="submit" value="buscar" />
        </p>
        
    }
    @using (Html.BeginForm("SleepingImageMayor", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table style="margin: 0 auto; width: 60%">
            <tr>
                <th>
                    Nombre completo
                </th>
                <th>
                    Código del cupón
                </th>
                <th>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompleteName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CouponNumber)
                    </td>
                    <td style="text-align: center">@Html.ActionLink("Cupón canjeado", "SleepingImageAsistMayor", new { id = item.SangClientID }, new { style = "font-size: 18px; color: yellow; text-decoration:underline" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            @Html.TextBox("identificador", item.SangClientID, new { style = "visibility: hidden" })
                            <input type="file" id="document" name="document" />
                        </p>
                    </td>
                    <td>
                        <input type="submit" value="Cargar documento" />
                    </td>
                </tr>
            }
        </table>
    }
</div>
