@model Sang.Models.SangChild

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SangChild</legend>

    <div class="display-label">SangClient</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SangClient.UserName)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">CompleteName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompleteName)
    </div>

    <div class="display-label">BirthDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthDate)
    </div>

    <div class="display-label">CuestionaryResult</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CuestionaryResult)
    </div>

    <div class="display-label">RegisterDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegisterDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SangChildID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
