@model IEnumerable<Sang.Models.Purchase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ModelMattresstId
        </th>
        <th>
            Warranty
        </th>
        <th>
            BillNumber
        </th>
        <th>
            Store
        </th>
        <th>
            BillAmount
        </th>
        <th>
            PurchaseDate
        </th>
        <th>
            RegisterDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModelMattresstId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Warranty.WarrantyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PurchaseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PurchaseID })
        </td>
    </tr>
}

</table>
